.main{
    position:relative;
    top:1rem;
    /* background-image:  	linear-gradient(to right, rgba(26, 111, 96, 1) 2%, rgba(28, 143, 84, 1) 100%); */
    /* background-image: 	linear-gradient(to right, #ff9482,#7d77ff); */
    background-color: #ff9677;
   
}

.query{
    font-size:20px;
}
@media(max-width:700px){
    .main{
        top:2px;
    }
}

.cardz{
    position: relative; 
    height: 230px;
    background: rgba(255,255,255,0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5s;
    transition: 0.5s; 
}